# Ignore all node_modules
**/node_modules

# Ignore other monorepo projects
../admin
../website
../backend
../supabase
../docs

# Ignore build artifacts
dist/
build/
android/
ios/

# Ignore IDE files
.vscode/
.idea/

# Ignore hidden files
.planning/
.nx/
.git/
